img{
    max-width: 100%;
}
.login {
    margin-top: 15%;
}

.login input {
    height: 50px;
    border-radius: 3px;
}

.login {

    text-align: center;
}

.error {
    color: #f00;
}

.row-delete {
    cursor: pointer;
}

.checkbox label input, .radio label input {
    margin-top: 2px;
}


i.field_remove {
    margin-top: 9px;
    cursor: pointer;
}

.form-group label {
    font-size: 14px;
    color: #2A3F54;
}

.location_map img{
    width: 100%;
}


td.action {
    width: 120px;
}

.pa-table td {
    padding: 1px !important;
}

.pa-table td input {
    padding: 1px !important;
    border: 0px;
    text-align: center;
}

.result-table {
    width: 100%;
    overflow-x: scroll;
}



.right_col h2 {
    color:#2A3F54;
    margin-top:30px; 
}
.right_col p {
    color:#2A3F54;
}

/* Create Promotion Progress */
.bs-wizard {margin-top: 15px; margin-bottom: 15px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #555; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #2A3F54; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #1ABB9C; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background: #EDEDED;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #2A3F54;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #EDEDED !important;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }  